<table>
  <tr class="labels">
    <td>Image</td>
    <td>Name</td>
    <td>Comment</td>
    <% if wishlist %>
      <td>Link</td>
    <% end %>
    <td>Modify</td>
  </tr>
  <% products.each do |product| %>
    <tr>
      <td><%= image_tag product.photo.url(:thumb) %></td>
      <td class="name-link link--underline"><%= link_to product.name, product_path(product.id) %></td>
      <td><%= product.comment %></td>
      <% if product.link %>
        <td><%= link_to 'Link>>', product.link, target: '_blank' %></td>
      <% end %>
      <td class="link--underline">
        <%= link_to 'Edit', edit_product_path(product.id) %><br>
        <% if Rails.env.production? %>
          <%= link_to 'Delete', '#', data: {confirm: "Delete?"} %>
        <% else %>
          <%= link_to 'Delete', product_path(product.id), method: :delete, data: {confirm: "Delete?"} %>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>