<h2>Good products</h2>
<div class="list-container">
  <table class="good-products">
    <tr class="labels">
      <td>Product Image</td>
      <td>Product Name</td>
      <td>Comment</td>
      <td>Edit</td>
      <td>Delete</td>
    </tr>
    <% @product_collection.good_products.each do |product| %>
      <tr>
        <td class="skincare-image"><%= image_tag product.photo.url(:thumb) %></td>
        <td><%= product.name %></td>
        <td><%= product.comment %></td>
        <td><%= link_to 'Edit', edit_product_path(product.id) %></td>
        <td><%= link_to 'Delete', product_path(product.id), method: :delete, data: {confirm: "Delete?"} %></td>
      </tr>
    <% end %>
  </table>

  <h2>Bad products</h2>
  <table class="bad-products">
    <tr class="labels">
      <td>Product Image</td>
      <td>Product Name</td>
      <td>Comment</td>
      <td>Edit</td>
      <td>Delete</td>
    </tr>
    <% @product_collection.bad_products.each do |product| %>
      <tr>
        <td class="skincare-image"><%= image_tag product.photo.url(:thumb) %></td>
        <td><%= product.name %></td>
        <td><%= product.comment %></td>
        <td><%= link_to 'Edit', edit_product_path(product.id) %></td>
        <td><%= link_to 'Delete', product_path(product.id), method: :delete, data: {confirm: "Delete?"} %></td>
      </tr>
    <% end %>
  </table>

  <%= link_to 'New product', new_product_path, class: "new-link" %>
</div>