<!DOCTYPE html>
<html>
<head>
  <title>Skincare Index</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href="https://fonts.googleapis.com/css?family=Cousine|Karla:400,700" rel="stylesheet">
</head>
<body>
  <%= render 'icon_sidebar' %>
  <%= yield %>
  <%= render 'footer' %>
</body>
</html>
